{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Rishabh Consultants</h1>
        <p>This website helps you to send your request regarding any equipment issues and then we will send our engineers to come to your site for the solution to your problem.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Booking Form &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Need help with your gadgets ?</h2>
          <p>Don't worry. Our engineers will come at your site for the inspection and solution of your gadgets</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Need Suggesetions ?</h2>
          <p>Our Engineers have a very high expirence regarding almost any field. So, send your query and then we'll select the best engineer for your subject</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>How to send Request ?</h2>
          <p>Just click on the 'Register' button, then fill out the necessary data and our engineers will contact you directly.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

  {% endblock %}