{% extends 'base.html' %}
  
{% block head_title %}Successfull | Rishabh Consultants{% endblock %}

{% block active %}
  <li><a href="{% url 'home' %}">Home</a></li>
  <li class="active"><a href="{% url 'register' %}">Register</a></li>
{% endblock %}

{% block content %}
<style>
  .navbar{
    margin-bottom: 0px;
  }
  #query{
    margin-bottom: 10px;
  }
  .bg-1{
     background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  p{
    font-size: 20px;
        text-align: center;

  }

  .container-fluid {
    padding-top: 67px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 114px;
}

  
</style>
<div class="container-fluid bg-1 text-center">  
    <i class="fa fa-check-circle fa-5x"></i>
    <h1><strong>Successfully Registered</strong></h1>
    <p>Your request has been registered and a confirmation mail has been sent to your registered mail. If you're encountering any problem then feel free to report at rishabhnehrapersonal@gmail.com</p>
</div>
{% endblock %}


