{% extends 'base.html' %}
  
{% block head_title %}Unsuccessfull Booking{% endblock %}

{% block active %}
  <li><a href="{% url 'home' %}">Home</a></li>
  <li class="active"><a href="{% url 'register' %}">Register</a></li>
{% endblock %}

{% block content %}
<style>
  .navbar{
    margin-bottom: 0px;
  }
  #query{
    margin-bottom: 10px;
  }
  .bg-red{
    background-color: #cc0000;
    color: #ffffff;
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  .container-fluid {
    padding-top: 67px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 114px;
}
</style>
<div class="container-fluid text-center bg-red">  
          <i class="fa fa-times fa-5x"></i>
          <h1><strong>OOPS!</strong></h1>
          <p>Your booking is not successfully registered. Please try again later. If the problem persists, email us at rishabhnehrapersonal@gmail.com</p>
</div>
{% endblock %}


