{% extends 'base.html' %}
  
{% block head_title %}Unsuccessfull Booking{% endblock %}

{% block active %}
  <li><a href="{% url 'home' %}">Home</a></li>
  <li class="active"><a href="{% url 'register' %}">Register</a></li>
{% endblock %}

{% block content %}
<style>
  .navbar{
    margin-bottom: 10px;
  }
  #query{
    margin-bottom: 10px;
  }
</style>
<div class="container">  
      <div class="col-md-8 col-md-offset-3">
        <div class="col-md-4">
        <i class="fa fa-times fa-5x"></i>
      </div>
      <div class="col-md-8">
          <h1>OOPS!!!</h1>
          <p>Your booking is not successfully registered. Please try again later. If the problem persists, email us at rishabhnehrapersonal@gmail.com</p>
      </div>
      </div>
</div>
{% endblock %}


